<div class="pageLabel_container">
        <div class="pageLabel_wraper">
            <h4>CHAT</h4>
            <a href="/">Home</a><span>Chat</span>
        </div>
</div>

<div class="ChatPageWrapper">
    {{!-- <div id="chat-history"></div> --}}
    <p style="display: none;" id="user-data">{{user.email}}###{{user.firstName}}</p>
    <input type="text"  id="message-form" class="keyboardInput">




    <div class="chat" id="chat-history">

    </div>

</div>




<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>